# Native OpenJDK builds and archives
build/
openjdk/
openjdk-17/
openjdk-21/
openjdk-25/
android-ndk*/
*.tar.xz
*.zip
*.log
config.log
build-manifest-*.txt
release-assets/
incoming/
selftest-bin/
freetype-*/
cups-*/
dummy_libs/
jdkout/
jreout/
dizout/
dSYM-temp/
termux-elf-cleaner/
